/TESTE_CONN_BD/nbproject/private/
/TESTE_CONN_BD/dist/
/TESTE_CONN_BD/build/
/CRUD_SOFISTICADO/nbproject/private/
/CRUD_SOFISTICADO/build/
/CRUD_SOFISTICADO/dist/
/CRUD_VERYHARD/nbproject/private/
/CRUD_VERYHARD/build/
/CRUD_VERYHARD/dist/
/heranca/nbproject/private/
/heranca/build/
/heranca/dist/
/TEST_CONN_ORA/nbproject/private/
/TEST_CONN_ORA/build/
/TEST_CONN_SQL/nbproject/private/
/TEST_CONN_SQL/build/
